body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.flex-maze{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maze-board{
    background-color: cadetblue;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maze-board-wins{
    background-color: blue;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maze-board-lost{
    background-color: red;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.walls{
    width: 90%;
    height: 60vh;
    display: flex;
}
.maze1{ 
    width: 30%;
    display: flex;
    align-items: end;
}
.div1{
    background-color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
}
.maze2{
    width: 10%;
    display: flex;
    align-items: end;
}
.div2{
    background-color: white;
    width: 100%;
    height: 60vh;
}
.maze3{
    width: 25%;
    display: flex;
    align-items: start;
}
.div3{
    background-color: white;
    width: 100%;
    height: 15vh;
}
.maze4{
    width: 10%;
    display: flex;
    align-items: end;
}
.div4{
    background-color: white;
    width: 100%;
    height: 60vh;
}
.maze5{
    width: 30%;
    display: flex;
    align-items: end
}
.div5{
    background-color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
}
.start{
    border: 1px solid black;
    background-color: greenyellow;
    width: 30%;
    height: 15vh;
}
.end{
    border: 1px solid black;
    background-color: violet;
    width: 30%;
    height: 15vh;
}
.win-h1{
    position: absolute;
    font-size: 100px;
}
.lost-h1{
    position: absolute;
    font-size: 100px;
}